html {
    background: #f1cbff;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

footer {
    text-align: center;
    margin-bottom: 5px;
    font-size: 25px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: 0px;
    margin-top: 2em;
}

.instructions {
    font-size: 20px;
}

.new-game-form select, .new-game-form button {
    margin: 5px;
}

@media (min-width: 600px) {
    canvas {
        width: 400px;
        border: 6px solid white;
    }

    footer {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {
    svg.game-board {
        width: 500px;
    }
}
